<h1>Get your <span>FREE COPY</span> of this online income method</h1>
<picture>
  <img src="../../assets/images/image.png" alt="Find out how this guy makes 1,000,000+ while travelling the world"/>

</picture>
<form >
  <mat-form-field>
    <mat-label>Write your Email</mat-label>
    <input matInput placeholder="youremail@example.com"  type="email" ngModel email>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="checker()"><a [href]="link">Start getting rich</a></button>
</form>
