@import '../../stylehelper/boxhelper';

:host{
  height: 10%;
  width: 100%;

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0174A9;
    height: 100%;
    width: 100%;
  }

  h1{
    color: #FFF;
    font-weight: bold;
    font-size: 1.9em;
  }

  .divider{
    height: 10%;
    width: 100%;
    background-color: #FFF;
  }
}


