@import '../stylehelper/elementFormatter.scss';

:host{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

  h2{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 5%;
    font-size: 1.8em;
  }

  main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  video{
    width: 98%;
    height: 35%;
  }

  button{
    //background: linear-gradient(#FF9900, #F59300);
    background-color: #20B8FE;
    color: #E8E9EB;
    height: 10%;
    font-size: 1.5em;
    width: 90%;
    border-radius: 5px;
    border: 2px solid #20B8FE;
    margin-top: 20%;
  }

  span{
    text-decoration: underline;
  }

  button:active{
    border-color: white
  }

  footer{
    background-color: #0174A9;
    color: #20B8FE;
    width: 100%;
    font-size: 1em;
    display: flex;
    justify-content:center;
    align-items: center;
  }

}
